<mat-nav-list>
  @for (item of menuItems(); track item.key) {
    <button
      mat-list-item
      type="button"
      (click)="select.emit(item.key)"
      [class.selected-menu-item]="activeKey === item.key"
    >
      <mat-icon
        [fontSet]="(activeKey === item.key) ? 'material-icons' : 'material-icons-outlined'"
        matListItemIcon
        [style.marginLeft]="iconMargin()"
      >
        {{ item.icon }}
      </mat-icon>

      @if (!sideNavCollapsed()) {
        <span matListItemTitle>{{ item.label }}</span>
      }
    </button>
  }
</mat-nav-list>